In [1]:
import json
import pandas as pd

In [2]:
path = "Home_and_Kitchen_5.json"

In [3]:
with open(path, encoding='utf-8') as f:
    data = [json.loads(line) for line in f.readlines()]

In [4]:
review_texts = [line['reviewText'] for line in data]

In [9]:
num_voted = [line['helpful'][1] for line in data]

In [5]:
df = pd.read_csv("results.csv")

In [6]:
df.head()

,Text,Helpfulness,Rating,Prediction,Scaled_Prediction
0,"['daughter', 'wanted', 'book', 'price', 'Amazo...",1.000000,1,4.248338e-06,4.248338e-06
1,"['bought', 'zoku', 'quick', 'pop', 'daughterr'...",1.000000,1,4.967793e-08,4.967793e-08
2,"['shortage', 'pop', 'recipes', 'available', 'f...",2.059259,1,6.930113e-02,1.427090e-01
3,"['book', 'must', 'get', 'Zoku', 'also', 'highl...",1.855556,1,4.921978e-06,9.133004e-06
4,"['cookbook', 'great', 'really', 'enjoyed', 're...",1.000000,1,4.853047e-04,4.853047e-04

In [14]:
df["Text_Review"] = review_texts

In [12]:
df["num_voted"] = num_voted

In [15]:
df.head()

,Text,Helpfulness,Rating,Prediction,Scaled_Prediction,num_voted,Text_Review
0,"['daughter', 'wanted', 'book', 'price', 'Amazo...",1.000000,1,4.248338e-06,4.248338e-06,0,My daughter wanted this book and the price on ...
1,"['bought', 'zoku', 'quick', 'pop', 'daughterr'...",1.000000,1,4.967793e-08,4.967793e-08,0,I bought this zoku quick pop for my daughterr ...
2,"['shortage', 'pop', 'recipes', 'available', 'f...",2.059259,1,6.930113e-02,1.427090e-01,27,There is no shortage of pop recipes available ...
3,"['book', 'must', 'get', 'Zoku', 'also', 'highl...",1.855556,1,4.921978e-06,9.133004e-06,18,This book is a must have if you get a Zoku (wh...
4,"['cookbook', 'great', 'really', 'enjoyed', 're...",1.000000,1,4.853047e-04,4.853047e-04,0,This cookbook is great. I have really enjoyed...

In [16]:
df.rename(columns = {'Text': 'Tokenized_Review'}, inplace = True)

In [17]:
df.head()

,Tokenized_Review,Helpfulness,Rating,Prediction,Scaled_Prediction,num_voted,Text_Review
0,"['daughter', 'wanted', 'book', 'price', 'Amazo...",1.000000,1,4.248338e-06,4.248338e-06,0,My daughter wanted this book and the price on ...
1,"['bought', 'zoku', 'quick', 'pop', 'daughterr'...",1.000000,1,4.967793e-08,4.967793e-08,0,I bought this zoku quick pop for my daughterr ...
2,"['shortage', 'pop', 'recipes', 'available', 'f...",2.059259,1,6.930113e-02,1.427090e-01,27,There is no shortage of pop recipes available ...
3,"['book', 'must', 'get', 'Zoku', 'also', 'highl...",1.855556,1,4.921978e-06,9.133004e-06,18,This book is a must have if you get a Zoku (wh...
4,"['cookbook', 'great', 'really', 'enjoyed', 're...",1.000000,1,4.853047e-04,4.853047e-04,0,This cookbook is great. I have really enjoyed...

In [18]:
df.to_csv("result/result_csv.csv", index=False)